################################################################################

################################################################################

/.vs
*/obj
*/bin
/UI/Properties/PublishProfiles/FolderProfile.pubxml.user
