################################################################################

################################################################################

/.vs
*/obj
*/bin
*/Properties/PublishProfiles/FolderProfile.pubxml.user
